@model BTL_CNPM.Models.tblHoSoNhanVien
@{
    ViewBag.Title = "EditHoSo";
    Layout = "~/Views/Shared/HomeMasterpage.cshtml";
}

<h2 class="text-center">Chỉnh sửa hồ sơ</h2>
<form class="" action="/Home/EditHoSo/@Model.iMaHoSoNV" method="post">
    <input type="hidden" class="form-control" name="sMaNV" value="@Model.iMaHoSoNV" />
    <input type="hidden" class="form-control" name="sMaNV" value="@Model.sMaNV" />

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="tennhanvien">Tên nhân viên</label>
            <input type="text" class="form-control" id="tennhanvien" name="sTenNV" value="@Model.sTenNV" />
        </div>
        <div class="col-md-6">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="sEmail" value="@Model.sEmail" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="CCCD">CCCD</label>
            <input type="text" class="form-control" id="CCCD" name="iCCCD" value="@Model.iCCCD" />
        </div>
        <div class="col-md-6">
            <label for="ngaysinh">Ngày sinh</label>
            <input type="date" class="form-control" id="ngaysinh" name="dNgaysinh" value="@Model.dNgaysinh.Value.ToString("yyyy-MM-dd")" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="SDT">Số điện thoại</label>
            <input type="text" class="form-control" id="SDT" name="iSDT" value="@Model.iSDT" />
        </div>
        <div class="col-md-6">
            <label for="diachi">Địa chỉ</label>
            <input type="text" class="form-control" id="diachi" name="sDiachi" value="@Model.sDiachi" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="hocvan">Học vấn và kỹ năng</label>
            <input type="text" class="form-control" id="hocvan" name="sHocvan" value="@Model.sHocvan" />
        </div>
        <div class="col-md-6">
            <label for="kinhnghiem">Kinh nghiệm và thành tích</label>
            <input type="text" class="form-control" id="kinhnghiem" name="sKinhnghiem" value="@Model.sKinhnghiem" />
        </div>
    </div>

    <button type="submit" class="text-center btn btn-success mt-3 mx-3">Lưu thay đổi</button>
</form>
