@model BTL_CNPM.Models.HOSONHANVIEN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/HomeMasterpage.cshtml";
}

<h2>Edit</h2>
<form class="" action="/HosoNV/Edit/@Model.MANHANVIEN" method="post">
    @*<input type="hidden" name=""*@
    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="tenNV">Ten nhan vien</label>
            <input type="text" class="form-control" id="tenNV" name="tennhanvien" placeholder="Ten nhan vien" value="@Model.TENNHANVIEN"/>
        </div>
        <div class="col-md-6">
            <label for="ngaylap">Ngay lap</label>
            <input type="hidden" class="form-control" id="ngaylap" name="ngaylap" placeholder="ngay lap" value="@DateTime.Now" />
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="vitri">Vi tri</label>
            <input type="text" class="form-control" id="vitri" name="vitri" placeholder="Vi tri" value="@Model.VITRI"/>
        </div>
        <div class="col-md-6">
            <label for="CCCD">CCCD</label>
            <input type="text" class="form-control" id="CCCD" name="CCCD" placeholder="Can cuoc cong dan" value="@Model.CCCD"/>
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="ngaysinh">Ngay sinh</label>
            <input type="date" class="form-control" id="ngaysinh" name="ngaysinh" placeholder="Ngay sinh" value="@Model.NGAYSINH.Value.ToString("yyyy-MM-DD")"/>
        </div>
        <div class="col-md-6">
            <label for="diachi">Diachi</label>
            <input type="text" class="form-control" id="diachi" name="diachi" placeholder="Dia chi" value="@Model.DIACHI"/>
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="SDT">Diachi</label>
            <input type="number" class="form-control" id="SDT" name="SDT" placeholder="So dien thoai" value="@Model.DIACHI"/>
        </div>
    </div>

    <div class="row mx-3 mt-3">
        <div class="col-md-6">
            <label for="maNV">Ma nhan vien</label>
            <input type="text" class="form-control" id="maNV" name="manhanvien" placeholder="Ma nhan vien" value="@Model.MANHANVIEN"/>
        </div>
        <div class="col-md-6">
            <label for="maHS">Ma ho so</label>
            <input type="text" class="form-control" id="maHS" name="mahoso" placeholder="Ma ho so" value="@Model.MAHOSO"/>
        </div>
    </div>

    <button type="submit" class="btn btn-success mt-3 mx-3">Luu thay doi</button>
</form>
